{% extends "app/_base.html" %}
{% load static %}

{% block title %} {{ mod_citc.title }} {% endblock title %}

{% block active %}
	<li><a href="{% url 'app:home' %}">Accueil</a></li>
	{% if mod_citc.title == "Cisco" %}
		<li class="active dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CITC</a>
		    <ul class="dropdown-menu">		    	
		      	<li class="active"><a href="cisco">Cisco</a></li>
                <li><a href="microsoft">Microsoft</a></li>
                <li><a href="pearsonvue">Pearson Vue</a></li>
		    </ul>
		</li>
	{% elif mod_citc.title == "Microsoft" %}
		<li class="active dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CITC</a>
		    <ul class="dropdown-menu">		    	
		      	<li><a href="cisco">Cisco</a></li>
                <li class="active"><a href="microsoft">Microsoft</a></li>
                <li><a href="pearsonvue">Pearson Vue</a></li>
		    </ul>
		</li>
	{% elif mod_citc.title == "Pearson Vue" %}
		<li class="active dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CITC</a>
		    <ul class="dropdown-menu">		    	
		      	<li><a href="cisco">Cisco</a></li>
                <li><a href="microsoft">Microsoft</a></li>
                <li class="active"><a href="pearsonvue">Pearson Vue</a></li>
		    </ul>
		</li>
	{% else %}
		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CITC</a>
		    <ul class="dropdown-menu">		    	
		      	<li><a href="cisco">Cisco</a></li>
                <li><a href="microsoft">Microsoft</a></li>
                <li><a href="pearsonvue">Pearson Vue</a></li>
		    </ul>
		</li>
    {% endif %}
    <li><a href="{% url 'app:formations' %}">Nos Formations</a></li>
    <li><a href="{% url 'app:events' %}">Evenements</a></li>
    <li><a href="{% url 'app:news' %}">NEWS</a></li>
{% endblock %}

{% block content %}
	{{ mod_citc.content_citc|safe }}
{% endblock %}