{% extends "app/_base.html" %}
{% load static %}

{% block title %} Evenements {% endblock title %}

{% block active %}
	<li><a href="{% url 'app:home' %}">Accueil</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CITC</a>
        <ul class="dropdown-menu">
          <li><a href="cisco">Cisco</a></li>
          <li><a href="microsoft">Microsoft</a></li>
          <li><a href="pearsonvue">Pearson Vue</a></li>
        </ul>
    </li>
    <li><a href="{% url 'app:formations' %}">Nos Formations</a></li>
    <li class="active"><a href="{% url 'app:events' %}">Evenements</a></li>
    <li><a href="{% url 'app:news' %}">NEWS</a></li>
{% endblock %}

{% block content %}
  <div class="mainContent clearfix">
      <div class="container">
        <div class="upcoming_events event-col">
          <div class="row clearfix">
            {% for event in all_events %}
              <div class="{{ mod_grille.content }}">
                <div class="related_post_sec single_post">
                  <span class="date-wrapper">
                    <span class="date"><span>{{ event.date_time_event|date:"d" }}</span>{{ event.date_time_event|date:"F" }}</span>
                  </span>
                  <div class="rel_right">
                    <h4><a href="{% url 'app:events' %}/{{ event.id_events }}">{{ event.title }}</a></h4>
                    <div class="meta">
                      <span class="place"><i class="fa fa-map-marker"></i>{{ event.place_event }}</span>
                      <span class="event-time"><i class="fa fa-clock-o"></i>{{ event.date_time_event|date:"H:i" }}</span>
                    </div>
                    <p>{{ event.resume_event|safe }}</p>
                    <a href="{% url 'app:events' %}/{{ event.id_events }}" class="btn btn-default commonBtn">En savoir plus</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div><!-- row clearfix -->
        </div>
        <div align="center">
          <ul class="pagination">
            {% if all_events.has_previous %}
              <li>
                <a aria-label="Previous" href="?page={{ all_events.previous_page_number }}">
                <span aria-hidden="true">Précedent</span>
                </a>
              </li>
            {% endif %}
            <li class="active"><a href="?page={{ all_events.number }}">{{ all_events.number }}</a></li>
            <li><a>sur</a></li>
            <li><a href="?page={{ all_events.paginator.num_pages }}">{{all_events.paginator.num_pages }}</a></li>
            {% if all_events.has_next %}
              <li>
                <a aria-label="Next" href="?page={{ all_events.next_page_number }}">
                <span aria-hidden="true">Suivant</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div><!-- container -->
    </div>
{% endblock %}
