{% extends "app/_base.html" %}
{% load static %}

{% block title %} Nos Formations {% endblock title %}

{% block active %}
	<li><a href="{% url 'app:home' %}">Accueil</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CITC</a>
        <ul class="dropdown-menu">
          	<li><a href="cisco">Cisco</a></li>
           	<li><a href="microsoft">Microsoft</a></li>
           	<li><a href="pearsonvue">Pearson Vue</a></li>
        </ul>
    </li>
    <li class="active"><a href="{% url 'app:formations' %}">Nos Formations</a></li>
    <li><a href="{% url 'app:events' %}">Evenements</a></li>
    <li><a href="{% url 'app:news' %}">NEWS</a></li>
{% endblock %}

{% block content %}
	<div class="courses_section courses-fullwidth">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 courses_right">
					<div class="courses_right_inner">
						<div class="search_section">
							<form action="#" method="post">
								<ul>
									<li>
										<input type="text" name="course-name" class="form-control" placeholder="Nom de la formation">
									</li>
									<li class="search_button">
										<button class="btn btn-default btn-block commonBtn" type="submit">Recherche</button>
									</li>
								</ul>
							</form>
						</div><!--End search_section-->
						<div class="courses">
							<table class="table table-bordered table-striped">
								<thead>
								  	<tr>{{ add_liste_f.head|safe }}</tr>
								</thead>
								<tbody>
									{{ add_liste_f.body_tr|safe }}
								</tbody>
							  </table>
						</div><!--End courses-->
					</div><!-- end courses_right_inner -->
				</div><!-- end courses_right -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div>
{% endblock %}